/.idea/
/.mvn/
/mvnw
/mvnw.cmd
*.iml
/target/
.classpath
.gradle/
.project
.settings/
bdd-demo.ipr
bdd-demo.iws
build/
classes/
gradle/
bin
ng.out
lib
src/main/resources/static
src/main/angular/lib
src/main/angular/node
src/main/angular/node_modules
src/main/angular/package-lock.json
